<html>
    <head>
        <title>Blog App</title>

        <base href="/">
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/semantic-ui/2.4.1/semantic.min.css">
        
        <base href="/">
        <link rel="stylesheet" href="app.css">

        <base href="/">
        <link rel="stylesheet" href="bootstrap.css">


    </head>
    <body>

            <div class="ui fixed inverted menu">
                <div class="ui container">
                    <div class="header item"><i class="code icon"></i>Blog Site</div>
                    <a href="/" class="item">Home</a>
                    <a href="/blogs/new" class="item">New Post</a>
                </div>

            </div>


            <div class="ui main text container segment">
               <div class="ui huge header"><%=blog.title%></div>

               <div>
                    <div class="top attached segment">

                        <div class="item">
                            <img class="img-thumbnail ui rounded image" src="<%=blog.image%>" alt="" width="500" height="300">
                            <div class="content">
                                <p><%=blog.Created.toDateString()%></p>
                            </div>
                            <div class="description">
                                <p><%=blog.body%></p>
                            </div>
                        </div>

                    </div>                   
                </div>                                      
            </div>




            

          

    </body>
</html>


